In [2]:
import findspark

In [3]:
findspark.init('/home/cristinamulaslopez/spark-2.1.1-bin-hadoop2.7')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.csv('ContainsNull.csv', inferSchema = True, header = True)

In [17]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [10]:
df.columns
#return a list

['Id', 'Name', 'Sales']

In [14]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string]

In [16]:
df.describe().show()

+-------+----+-----+-----------------+
|summary| _c0|  _c1|              _c2|
+-------+----+-----+-----------------+
|  count|   5|    3|                3|
|   mean|null| null|            400.5|
| stddev|null| null|78.48885271170677|
|    min|  Id|Cindy|            345.0|
|    max|emp4| Name|            Sales|
+-------+----+-----+-----------------+

## Select data

In [17]:
df['_c0'] # column oject

Column<b'_c0'>

In [19]:
df.select('_c0').show()

+----+
| _c0|
+----+
|  Id|
|emp1|
|emp2|
|emp3|
|emp4|
+----+

In [9]:
df.head(2)

[Row(Id='emp1', Name='John', Sales=None),
 Row(Id='emp2', Name=None, Sales=None)]

In [21]:
df.head(2)[0]

Row(_c0='Id', _c1='Name', _c2='Sales')

In [22]:
# select multiple columns

In [23]:
df.select(['_c0','_c1'])

DataFrame[_c0: string, _c1: string]

In [26]:
df.withColumn('new', df['_c0']).show()

+----+-----+-----+----+
| _c0|  _c1|  _c2| new|
+----+-----+-----+----+
|  Id| Name|Sales|  Id|
|emp1| John| null|emp1|
|emp2| null| null|emp2|
|emp3| null|345.0|emp3|
|emp4|Cindy|456.0|emp4|
+----+-----+-----+----+

In [25]:
df.show()

+----+-----+-----+
| _c0|  _c1|  _c2|
+----+-----+-----+
|  Id| Name|Sales|
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.withColumnRenamed('_c0', 'name').show()

+----+-----+-----+
|name|  _c1|  _c2|
+----+-----+-----+
|  Id| Name|Sales|
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

## SQL

In [11]:
df.createOrReplaceTempView('people')

In [12]:
results = spark.sql("select * from people")

In [13]:
results.show()

+----+-----+-----+
| _c0|  _c1|  _c2|
+----+-----+-----+
|  Id| Name|Sales|
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

## Filter

In [13]:
df.filter("Sales > 465.0").show()

+---+----+-----+
| Id|Name|Sales|
+---+----+-----+
+---+----+-----+

In [ ]:
#sql
df.filter("Sales > 465.0").select("name_col").show()

In [ ]:
#python
df.filter(df['colu'] < 500).show()

In [15]:
# filter in mutiple conditions

In [ ]:
df.filter((df['col'] > 200) & (df['col'] = 9))

In [ ]:
# select a row
result = df.filter(df['col']== 197.9).collect()
# return a list

In [ ]:
row = resul[0]

In [ ]:
row.asDcit()['key']

## Group by and aggregate fun()

In [ ]:
df.groupBy('col').mean().show()

In [ ]:
df.groupBy('col').sum().show()

In [ ]:
df.groupBy('col').max().show()

In [ ]:
df.groupBy('col').min().show()

In [ ]:
df.groupBy('col').count().show()

In [ ]:
df.agg({'col': 'sum'}).show()

In [ ]:
group_data = df.gorupBy('col')

In [ ]:
group_dara.agg({'col':'sum'}).show()

In [ ]:
# import functions from spark

In [ ]:
from pyspark.sql.functions import countDistinct

In [ ]:
df.select(avg('col').alias('name')).show()

In [ ]:
df.select(dtddev('col')).show()

In [ ]:
from pyspark.sql.functions import format_number

In [ ]:
sales_std = df.select(stddev('sales').alias('new'))

In [ ]:
sales_std.show()

In [ ]:
sales_std.select(format_number('std'),2).show()

## sort

In [ ]:
df.orderBy('Sales').show() # ascending order

In [ ]:
df.orderBy(df['sales'].desc()).show()

## Missing Data

In [18]:
df.na.drop(thresh= 2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [19]:
df.na.drop(how= 'any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
df.na.drop(how= 'all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [21]:
df.na.drop(subset= ['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [22]:
df.na.fill('FILL VALUE').show()

+----+----------+-----+
|  Id|      Name|Sales|
+----+----------+-----+
|emp1|      John| null|
|emp2|FILL VALUE| null|
|emp3|FILL VALUE|345.0|
|emp4|     Cindy|456.0|
+----+----------+-----+

In [23]:
df.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
from pyspark.sql.functions import mean

In [ ]:
df.na.fill()

In [27]:
mean_val = df.select(mean(df['Sales'])).collect()

In [28]:
mean_sales = mean_val[0][0]

In [31]:
df.na.fill(mean_sales,['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [35]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0], ['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

## Dates and Timestamps